no-pty,no-port-forwarding,no-agent-forwarding,no-X11-forwarding,command="~/ameas-server 1" ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgmWvKruOfdYr89wXbrz1YmknSV46MrTnrarI3vctEe5TEidd2LVXyKEV2JNSlq/Ab+uQKPTB1ztQuVfHjBuzLFbZTN+pA5mPXm8DG5CNaFOGwOSeATTxsviVbVJ6E+JDzFcAi1XaeRYlA58qyJPCkmnZ/u1hES05P1H0LYCU2t9Fhkk= root@dev1

